name: Unit Tests (fal)

on:
  push:
    branches: [main]

  pull_request:
    types: [assigned, opened, synchronize, reopened]
    paths-ignore:
      - "README.md"

  schedule:
    - cron: '30 5 * * *' # every day at 5:30 UTC

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  unit:
    name: unit (py ${{ matrix.python }}, ${{ matrix.deps }})
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        deps: ["pydantic==1.10.18", "pydantic==2.11.7"]
        python: ["3.8", "3.12"]
        exclude:
          - deps: "pydantic==2.11.7"
            python: "3.8"
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
          cache: pip

      - name: Install dependencies
        run: |
          pip install --upgrade pip wheel
          pip install -e 'projects/fal[test]' graphlib ${{ matrix.deps }}

      - name: Run unit tests
        run: |
          pytest -n auto -v projects/fal/tests/unit


