name: Run Integration Tests

on:
  push:
    branches: [main]

  pull_request:
    types: [assigned, opened, synchronize, reopened]
    paths-ignore:
      - "README.md"

  schedule:
    - cron: '30 5 * * *' # every day at 5:30 UTC

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  run:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        deps: ["pydantic==1.10.12", "pydantic==2.5.0"]
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v4
        with:
          python-version: "3.8"
          cache: 'pip'

      - name: Install dependencies
        run: |
          pip install --upgrade pip wheel
          pip install -e 'projects/fal[test]' ${{ matrix.deps }}

      - name: Run integration tests
        env:
          FAL_KEY: ${{ secrets.FAL_CLOUD_KEY_ID }}:${{ secrets.FAL_CLOUD_KEY_SECRET }}
          FAL_HOST: api.${{ vars.FAL_CLOUD_INTEGRATION_TEST_HOST }}
        timeout-minutes: 30
        run: |
          pytest -n auto -vv projects/fal/tests
