name: Run Integration Tests

on:
  pull_request:
    types: [assigned, opened, synchronize, reopened]
    paths-ignore:
      - "README.md"
 
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    concurrency:
      group: "${{ github.head_ref || github.run_id }}-${{ github.workflow }}"
      cancel-in-progress: true

    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          git clone --depth 1 https://github.com/fal-ai/fal
          pip install -e projects/fal
          pip install pytest pytest-asyncio pillow

      - name: Run integration tests
        env:
          FAL_KEY_ID: ${{ secrets.FAL_CLOUD_KEY_ID }}
          FAL_KEY_SECRET: ${{ secrets.FAL_CLOUD_KEY_SECRET }}
          FAL_HOST: api.${{ vars.FAL_CLOUD_INTEGRATION_TEST_HOST }}
        run: |
          pytest -v projects/fal/tests --ignore projects/fal/tests/toolkit/image_test_requires_pil.py

      - name: Run integration tests with PIL
        run: |
          pytest -v projects/fal/tests/toolkit/image_test_requires_pil.py
